/* Developed by Cleeng, 2018. version 1.
This style sheet can be used to customise the style for Cleeng Merchant Checkout and MyAccount widgets
Make a copy, tweak the css, host the file yourself and link this to the widget.
See full instructions and more examples on https://developers.cleeng.com */

/* Hide locale selector */ 
.popup-locale-selector {
    display: none;
}

/* Adjust 'back to offer selection' button */
.change-button{
    display: none;
}


/* Adjust 'Pay using card' icon */
.pm-card {
    display: inline-block;
    vertical-align: middle;
    background-position: center center;
    background-size: contain;
    background-image: url('https://via.placeholder.com/69x44');
    width: 69px;
    height: 44px;
    text-decoration: none;
 }

/* Adjust self care section */
.container-self-care{
    color:#9b9fa5;
}

/* Adjust links */
#checkout a,  #checkout a:hover,  #checkout  .discount{
    color:#fff;
}

/* Adjust header 1 */
 #checkout h1, .self-care  .box-header h1{
    color:#ffffff;
}

/* Adjust header 2 */
 h2, .self-care  .box-header h2{
    color:#a6a6a6;
}

/* Adjust footer */
.footer{
    background: #181818;    
}

/* Adjust header */
#checkout .header-wrapper{
    background: #181818;    
    border-bottom:8px solid #181818;
}

/* Adjust text inputs */
.form-wrapper input:not([type=submit]){
    background:#fff;
    border-radius: 0;
}

/* Adjust cancellation reason fields */
 .cancellation-reason li [type="radio"]:checked + label, .cancellation-reason li [type="radio"]:not(:checked) + label{
    color:#9b9fa5;    
 }
 
/* Adjust cancellation reason fields */
 .cancellation-reason li [type="radio"]:checked + label:after, .cancellation-reason li [type="radio"]:not(:checked) + label:after{
     background-color:#fff;
 }
 
/* Adjust self care section */
#checkout, .self-care {
    background: #252525;
    color:#9b9fa5;
}

/* Adjust other inputs */
input[type="radio"]:checked + label:before, a.logout-link, a.logout-link:hover, #welcomeMsg, .total-value:before, .payments_button, .select-button, .select-button:hover, .goback:hover{
    background:#e20009 !important;
}

/* Adjust checkbox input when checked */
.cont input:checked ~ .checkmark {
  background-color: #e20009 !important;
}

/* Adjust text inputs placeholders */
input.form-control::placeholder{
    color:#868686;
}

/* Adjust radio label */
input[type="radio"]:checked + label:before{
    line-height: 20px;
    padding: 0;
}

/* Hide logout button */
.logout-link{
    display:none;
}

/* Adjust buttons */
#checkout .btn-primary,  
#checkout .btn-primary:focus,
#checkout .btn-primary:active,  
#checkout .btn-primary.active{
    background:#e20009 !important;
    border-color:#e20009 !important;
}

/* Adjust error messages */
.error-block, .flash-message.error, .generalError .flash-message, .flash-message.information{
    background:#181818;
    color:#fff;    
}

/* Adjust input error */
.self-care form .ng-invalid{
    border-color:#e20009;
    background:#fff;
}

/* Adjust information message */
.flash-message.information{
    border: 1px solid #424242;
}

/* Adjust error prompt from backend */
.flash-message.error:after {
    border-top: 8px solid #181818;
}

/* Adjust frontend error message */
.error-block:after{
    border-top: 8px solid #181818;
}

/* Adjust offer info header */
.grey-box,#offer-box, .offer-box{
    background:#181818;
}

/* Adjust 'Offer title' and 'Offer price' strings */
.offer-title, .offer-price{
    color:#fff;
}

/* Coupon link adjust */
.coupon-link, .coupon-link:hover{
   border-color:#e20009 !important;
   background:#e20009;
}

/* Adjust general background */
.form-control{
    border-radius: 0;
    color:#181818;
}

/* Adjust step title */
.step-title{
    background:#252525;
    color:#fff;
    font-weight: bold;    
}

/* Adjust 'Save billing address' button */
#saveBillingAddress{
    font-weight:normal;
    text-transform: capitalize;
    line-height:23px;
}

/* Adjust order total value */
.total-value:before{
    opacity:1;
    background: transparent !important;
    border:1px solid #e20009;
}

/* Adjust 'change payment method' button */
.change-button, .change-button:hover, .select-button, .select-button:hover{
    color:#9b9fa5;    
}

/* Adjust coupon form */
.coupon-form{
    background:#181818;
}
